* {
    box-sizing: border-box;
}
body {
    background: #F5F5F5;
    font-family: sans-serif;
    padding-top: 46px;
}
.header {
    background-color: #0050B3;
    padding-top: 6px;
    padding-bottom: 6px; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99; 
}
.header-block {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.m-menu {
  border: none;
  width: 32px;
  height: 32px;
  background-color: transparent;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.m-menu .line {
  width: 100%;
  top: 1px;
  background-color: #fff;
}
.search-input {
    padding: 5px 30px 5px 12px;
    width: 100%;
    width: 336px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    background-image: url(../img/Vector.svg);
    background-repeat: no-repeat;
    background-position: right 12px center;
    font-size: 14px;
    line-height: 22px;
}
.user {
    display: flex;
    align-items: center;
    font-weight: bold;
}
.user-avatar {
    margin-right: 8px;
}
.user-name {
    color: #ffffff;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600px;
}
.navigation {
    display: flex;
    align-items: center;
}
.navigation-panel {
    margin-left: 12px;
    display: flex;
}
.navigation-link {
    color: #ffffff;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: normal;
}
.navigation-link:hover {
    font-weight: bolder;
}
.navigation-link:before {
    content: "";
    width: 1px;
    height: 16px;
    background: #003A8C;
    margin-right: 12px;
}
.navigation-link:last-child:after {
    content: "";
    width: 1px;
    height: 16px;
    background: #003A8C;
    margin-left: 12px;
}
.header-icon {
    fill: #002766;    
}
.header-icon:hover {
    fill: white
}
.header-icon.bell:hover{
  fill: #ffffff; 
}
.header-icon.bell{
  fill: #002766;
}
.icon-link {
    display: flex;
    align-items: center;
    margin-left: 17px;
}
.icon-link:last-child:before {
    content: "";
    width: 1px;
    height: 16px;
    background: #003A8C;
    margin-right: 12px;
}
.icons-panel {
    margin-top: 2px;
    display: flex;
    align-items: center;
}
.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;

}
.menu-sidebar {
  width: 192px;
  margin-top: 18px;
  margin-right: 12px;
}
.menu-sidebar .user {
  padding-left: 10px;
}
.menu-sidebar .user-avatar {
  width: 24px;
  height: 24px;
}
.menu-sidebar .user-name {
  color: #262626;
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
}
.nav-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 24px;
}
.nav-link {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  text-decoration: none;
  color: #595959;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
}
.nav-link.active:hover{
  background: #FFFFFF;
  background-image: url(../img/points.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  width: 160px;
  font-weight: 100px;
  color:#262626;
}
.nav-link:hover{
  background: #FFFFFF;
  font-weight: bold;
  color:#262626;
}
.nav-link.arrow {
  color: #1890FF;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  padding-left: 11px;
  margin-top: 6px;
}
.nav-text {
  margin-left: 8px;
}
.nav-title {
  color: #262626;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 20px;
  padding-left: 5px;
  margin-bottom: 4px;
  margin-top: 0;
}
.main-feed {
  max-width: 588px;
  margin-top: 18px;
  flex-grow: 1;
}
.create-post {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
}
.create-post-header {
  background: #F5F5F5;
  padding: 9px 16px;
}
.create-post-title {
  margin: 0;
  color: #595959;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
.create-post-body {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  display: flex;
  align-items: flex-start;
}
.create-post-input {
  width: 100%;
  color: #8C8C8C;
  padding-top: 8px;
}
.create-post-footer {
  display: flex;
  align-items: center;
  padding: 0px 16px 16px 16px;
  flex-wrap: wrap;
}
.create-post-footer:before{
  content: "";
  width: 100%;
  height: 1px;
  background-color: #E8E8E8;
  margin-bottom: 16px;
}
.tag {
  background: #F5F5F5;
  border-radius: 48px;
  padding: 9px 12px;
  display: flex;
  align-items: center;
  margin-right: 8px;
  Border: none;
}
.tag-icon {
  margin-right: 8px;
}
.button-text {
  color: #595959;
}
.post {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 16px 0;
  padding: 16px;
}
.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.post-header-button {
  background-color: #FFFFFF;
  border: none;
}
.post-header .user-avatar{
  width: 48px;
  height: 48px;
  margin-right: 12px;
}
.post-author {
  width: 100%;
  font-size: 14px;
  line-height: 22px;
  color: #0050B3;
  text-decoration: none;
}
.post-info {
  display: flex;
  flex-wrap: wrap;
}
.post-time {
  color: #8C8C8C;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
}
.post-gear {
  vertical-align: middle;
}
.post-time:after {
  display: inline-block;
  border-radius: 50%;
  content: "";
  width: 4px;
  height: 4px;
  background-color: #BFBFBF;
  margin-right: 1px;
  margin-left: 6px;
  vertical-align: middle;
}
.post-info-time {
  display: flex;
  align-items: center;
}
.post-text {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  font-weight: normal;
  margin-bottom: 16px;
}
.post-text a {
  color: #096DD9;
  text-decoration: none;
}
.post-image {
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  min-width: 100%;
  width: 556px;
}
.likes {
  margin-top: 9px;
  margin-bottom: 9px;
  display: flex;
  align-items: center;
}
.likes-counter {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-left: 4px;
  font-weight: normal;
}
.post-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.post-button {
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
}
.post-button-text {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  font-weight: 400;
  margin-left: 8px;
}
.post-footer:before{
  content: "";
  width: 100%;
  height: 1px;
  background-color: #E8E8E8;
  margin-bottom: 16px;
}
.right-sidebar {
  width: 384px;
}
.stories{
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 16px;
  margin-left:  16px;
  padding: 16px;
  padding-left: 24px;
}
.stories-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stories-icon{
  fill: #0050B3;
  vertical-align: sub;
}
.story-title {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}
.story-button-add{
  background-color: #fff;
  border: none;
  align-items: center;
}
.story-button-link {
  font-size: 14px;
  line-height: 22px;
  color: #0050B3;
  text-decoration: none;
}
.story-button-link:first-child:after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #BFBFBF;
  border-radius: 50%;
  display: inline-block;
  margin: 0 8px;
  vertical-align: middle;
}
.story-item-add {
  display: flex;
  align-items: center;
  margin-top: 16px;
  text-decoration: none;
}
.story-title-new {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #0050B3;
  width: 100%;
  display: block;
}
.story-text {
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #8C8C8C;
  width: 100%;
  word-wrap: break-word;
}
.png {
  width: 48px;
  height: 48px;
  margin-right: 12px;
}
.story-image {
  background: #F5F5F5;
  border: 1px solid #D9D9D9;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  margin-right: 12px;
  border-radius: 50%;
  font-weight: 600;
  font-size: 20px;
  line-height: 28;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1890FF;
  justify-content: center;
}
@media (max-width: 1250px) {
  .header-block {
    width: 95%;
  }
  .container {
    justify-content: flex-start;
    width: 95%;
  }
  .right-sidebar {
    display: none;
  }
}
@media (max-width: 960px) {
  .header .user {
    display: none;
  }
  .navigation-panel {
    display: none;
  }
}
@media (max-width: 840px) {
  .menu-sidebar{
    position: fixed;
    left: 0;
    top: 25px;
    width: 100%;
    max-width: 250px;
    padding-top: 12px;
    height: 100px;
    padding-left: 2%;
  }
}